<!DOCTYPE html>
<html data-ng-app="app">
  <head>
    <base href="/" />
    <title>AngularJS - Dojo</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Inicial</a></li>
      <li><a href="/filmes">Filmes</a></li>
    </ul>

    <div data-ng-controller="Teste">
      <p>{{ atualiza }}</p>
      <p>{{ ::naoAtualiza }}</p>

      <form name="form" data-ng-submit="validar(form.$valid)" novalidate>
        <fieldset>
          <legend>Mágica</legend>

          <label>Esse atualiza:</label>
          <input type="text" data-ng-model="atualiza" />

          <label>Esse não atualiza:</label>
          <input type="text" data-ng-model="naoAtualiza" />

          <label>E-mail:</label>
          <input 
            type="email" 
            name="email"
            data-ng-model="email" 
            required
            data-ng-model-options="{ updateOn:'blur' }" />
          <span 
            data-ng-messages="form.email.$error"
            data-ng-if="form.email.$dirty">
            <span data-ng-message="required">
              E-mail obrigatório.
            </span>
            <span data-ng-message="email">
              E-mail inválido.
            </span>
          </span>

          <button>Vai!</button>
        </fieldset>
      </form>
    </div>

    <section data-ng-view>      
    </section>

    <script src="scripts/vendor/jquery.min.js"></script>
    <script src="scripts/vendor/angular.min.js"></script>
    <script src="scripts/vendor/angular-route.min.js"></script>
    <script src="scripts/vendor/angular-messages.min.js"></script>

    <script>
      var app = angular.module('app', [
        'ngRoute',
        'ngMessages'
      ]);

      app.controller('Teste', Teste);

      function Teste($scope) {
        $scope.validar = function(ehValido) {
          console.log(ehValido);
        };
        $scope.atualiza = ':)';
        $scope.naoAtualiza = ':)';
      }

      app.controller('Filmes', Filmes);

      function Filmes($scope, $http){
        $http.get('http://api.themoviedb.org/3/movie/popular?api_key=daacda49466e41790becc80ee1658c01')
          .success(function(result) {
            $scope.filmesPopulares = result.results;
          }).error(function(error) {
            console.log('error: ' + error);
          });
      }

      app.config(function($routeProvider, $locationProvider) {
        $locationProvider.html5Mode(true);

        $routeProvider
          .when('/filmes', {
            templateUrl : 'filmes.html'
          })
      });
    </script>
  </body>
</html>